<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin name="SpeechRecognizer" value=""/>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.speech.TTS"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>TTS API</name>

  <js-module src="tts.js" name="TTS">
    <clobbers target="chrome.tts" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/TTS.java" target-dir="src/com/phonegap/plugins/TTS" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="TTS">
        <param name="android-package" value="com.phonegap.plugins.speech.TTS"/>
      </feature>
    </config-file>
  </platform>

</plugin>
