@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('Roboto-Regular.ttf');
}
body {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18pt;
  margin:0;
  padding:0;
  background-color: #FEFFFB;
  color: #232D33;
}
.info {
  font-weight: 400;
  color: #666;
  font-size: 24px;
}
.sentence, .results {
  font-size: 32px;
  margin: 20px 0;
  border: 2px solid #849696;
  padding: 15px;
}
.results {
  font-size: 22px;
}
.highlight {
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  margin-right: 10px;
}
.highlight .expected {
}
.highlight .spoken {
  font-weight: bold;
  font-size: 18px;
}
.highlight.correct .expected {
  color: green;
  font-weight: bold;
}
.highlight.wrong .expected {
  color: rgb(201, 0, 0);
  font-weight: bold;
}
.header {
  font-weight: bold;
  color:004F09;
}
button {
  background-color: #17384D;
  color: #FEFFFB;
  font-size: 16pt;
  font-weight: bold;
  padding: 10px;
}
#controls {
  background-color: #849696;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
#content {
  padding: 10px;
}
h1 {
  font-size: 20pt;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 5pt 0 5pt 0;
  border-bottom: 1px solid #232D33;
  color: #17384D;
  background-color: #849696;
}
